# Ignore node_modules directory
node_modules/

# Ignore environment configuration file
.env

# Ignore logs files
*.log

# Ignore test directory
test/

# Ignore VS Code editor configurations
.vscode/

# Ignore Dockerfile (not necessary in the image)
Dockerfile

# Ignore git files
.git/
